# =============================================
# Java / Maven
# =============================================
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.log

# =============================================
# IDE
# =============================================
.idea/
*.iml
.vscode/

# =============================================
# Node / Angular
# =============================================
frontend/node_modules/
frontend/dist/
frontend/.angular/

# =============================================
# OS
# =============================================
Thumbs.db
.DS_Store

# =============================================
# Sensible
# =============================================
*.env
application-prod.properties
